*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}
body{
    background-color:#696969;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar{
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 2px solid rgb(223, 251, 219);
    margin-bottom: 25px;
}

.menu-lines{
    padding-right: 1.5rem;
    cursor: pointer;
}
 
.menu-lines .line{
   display: block;
   width:2.5rem;
   height: 2px;
   margin-bottom: 10px;
   background-color: white;
   cursor: pointer;
}

.nav-menu{
    position: absolute;
    width: 100%;
    top: 6rem;
    background-color: #696969;
    font-weight: 600;
    z-index: 99999;
}

.nav-menu a{
    display: block;
    text-align: center;
    padding: 5px 0;
}
.nav-menu a:hover{
    background-color: #2f4f4f;
}
 
.hide{
    display: none;
}

/*havaintopäiväkirja*/
.logo {
    color: white;
    font-family: cursive;
    font-size: 1.2rem;
    background-color: #355E3B;
    padding: 8px;
    border: 2px ridge #355E3B;
    border-radius: 5px;
    border-image: linear-gradient(45deg, #FFFFFF, #355E3B) 10;

}

.title {
    color: white;
    padding: 12px;
}

.message {
    color: white;
    border-style: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: #2F4F4F;

}

.grid-container {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    justify-items: center;
}

.grid-item {
    padding: 20px;
}

.one {
    grid-column-start: 1;
}

.logintitle {
    color: white;
    padding: 12px;
}

.login {
    color: white;
    padding: 12px;
}

.logininput {
    margin-left: 4px;
    margin-bottom: 3px;
}

.loginbutton {
    padding: 2px;
    margin-top: 5px;
}

.signuptitle{
    color:white;
    padding: 12px;
}
.signup {
    color: white;
    padding: 12px;
}

.signupinput{
    margin-left: 4px;
    margin-bottom: 3px;
}

.signupbutton{
    padding: 2px;
    margin-top: 5px;
}

/*Luo uusi havainto tästä:*/
.newobservationtext {
    color:white;
    padding: 12px;
}
/*Uusi havainto*/
.newbutton {
    padding: 2px;
    margin-left: 50px;
}

/*Havainnon lisäämislomake*/
.addobservation {
    color: white;
    padding: 12px;
}

.observationinput {
    margin-left: 4px;
    margin-bottom: 3px;
}

.savebutton {
    padding: 2px;
    margin-left: 150px;
    margin-top: 5px;
}

.cancelbutton {
    padding: 3px;
    color: white;
    background-color: #8B0000;
}

/*Havainto*/
.observationcontainer {
    z-index: 1;
}

.column1 {
    word-wrap: break-word;
    max-width: 100px;
}

.observation {
    font-size: 20px;
    color:white;
    padding: 16px;
    border: 1px groove rgb(223, 251, 219);
    margin-bottom: 2px;
    margin-top: 20px;
}

.observationuser {
    font-size: 16px;
    padding-top: 6px;
    margin-top: 4px;
    border-top: 1px dotted rgb(223, 251, 219);
    /*border-top-width:10px;*/
}

.observationimage {
    height: auto;
    width: 300px;
    max-width: 100%;
    display: block;
}

.deleteobservation {
    margin-left: 400px;
}

.logout {
    color: white;
}

.logoutbutton {
    padding: 2px;
    margin-top: 5px;
}

@media screen and (min-width:600px){
    .navbar{
        justify-content: space-around; 
    }
    .nav-menu{
        display: block;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .nav-menu a{
        display: inline-block;
        padding: 15px 20px;
    }
    .nav-menu a:hover{
        background-color:#2f4f4f;
        border-radius: 5px;
    }
    .menu-lines{
        display: none;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 4fr 1fr;
    }
}